body {
  margin: auto;
  width: 800px;
  height: 800px;
  text-align: center;
  background-color: lightslategrey;
}

#gamemap {
  display: grid;
  grid-template-columns: repeat(19, auto);
}

#gamemap div {
  width: 45px;
  height: 45px;
  outline: 1px solid black;
}

#header {
  color: white;
}



.EB,
.GG,
.EP,
.EE,
.BG, .WW {
  background-size: cover;
}

.BG {
  background-image: url("images/ScoreBox.png");
}

.WW {
  background-image: url("images/Wall.png");
}

.GG {
  background-image: url("images/Goal.png");
}

.EB {
  background-image: url("images/Box.png");
}

.EP {
  background-image: url("images/Player.png");
}

.EE {
  background-image: url("images/Floor.png");
}
